extends layout

block content
  h1.text-center.text-info.mt-5= title

  if (toShow == null)
    h2.text-center.text-muted.mt-3 No details available for this bookshelve
  else
    - let shelveId = toShow._id
    - let siteName = toShow.name
    - let siteMaterial = toShow.material
    - let siteShelves = toShow.shelves

    div.container.mt-5
      div.card.shadow-lg.border-info
        div.card-header.bg-primary.text-white
          h3 Bookshelve Details
        div.card-body
          div.row
            div.col-md-6.mb-3
              strong Bookshelve ID:
              p #{shelveId}
            div.col-md-6.mb-3
              strong Bookshelve Name:
              p #{siteName}
            div.col-md-6.mb-3
              strong Material:
              p #{siteMaterial}
            div.col-md-6.mb-3
              strong Number of Shelves:
              p #{siteShelves}
        div.card-footer.text-center
          a.btn.btn-primary(href='/bookshelves') Back to List